{% extends 'base.html.twig' %}

{% block title %} - Administration{% endblock %}

{% block body %}
    <h1>Hello world !</h1>
    <h2>Profile / </h2>
    {% if profileForm is defined %}
    <p>Aucun profile n'existe</p>
    {{form_start(profileForm)}}
        {{form_widget(profileForm)}}
    {{form_end(profileForm)}}
    {% endif %}

    
    {#<h2>Realisation</h2>
    {{form_start(realisationForm)}}
        {{form_widget(realisationForm)}}
    {{form_end(realisationForm)}}#}
    {% if profiles is defined %}
        {% for profile in profiles %}
            {{profile.nom}}
            <a href="{{path('admin_edit_profile', {'id': profile.id})}}">Edit Profile</a>
        {% endfor %}
        
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        
    </script>
{% endblock %}