<div class="row mb-3">
    <div class="col-lg-3 d-flex flex-column align-items-center bg-white p-4 responsive-margin border rounded">
        {% if profile.photo %}
            <img class="img-fluid border border-dark border-5 mb-3" src="{{ asset('uploads/' ~ profile.photo) }}" alt="photo">
        {% else %}
            <img class="img-fluid border border-dark border-5 mb-3" src="http://placehold.it/225x225" alt="pas-de-photo">
        {% endif %}

        <h1 class="text-center fw-bold">{{profile.prenom}} <span class="text-uppercase">{{profile.nom}}</span></h1>
    </div>
    <div class="col-lg d-flex flex-column justify-content-center bg-white p-5 ml-3 border rounded">
        <h1 class="text-center text-uppercase fw-light mb-3">{{profile.job}}</h1>
        <p>{{profile.description}}</p>
        <div class="row text-center mt-5">
            <div class="col">
                <a href="#" download="nom_doc_et_extension" class="btn btn-dark text-white">Télécharger le CV</a>
            </div>
        </div>
    </div>
</div><!--/row:bloc-profil-->